In [15]:
import pandas as pd
import json



df = pd.read_csv("JoSAA_2024 - JoSAA Surya.csv", header=0)
# print(df.head())
seat_types = df["Seat Type"].unique()
print(seat_types)

['SC (PwD)' 'ST (PwD)' 'OBC-NCL (PwD)' 'OPEN (PwD)' 'EWS (PwD)' 'ST' 'EWS'
 'SC' 'OBC-NCL' 'OPEN']

In [17]:
df = df.rename(columns={'Entrance Test': 'Exam'})

In [18]:
for seat_type in seat_types:
    df_seat_type = df[df["Seat Type"] == seat_type]
    df_seat_type.to_json(f"public/data/{seat_type}.json", orient="records")

In [19]:
df.columns

Index(['College ID', 'Institute', 'Academic Program Name', 'Quota',
       'Seat Type', 'Gender', 'Opening Rank', 'Closing Rank', 'State',
       'College Type', 'Management Type', 'Expected Salary', 'Salary Tier',
       'Exam'],
      dtype='object')

In [28]:
df["Academic Program Name"].unique()

array(['Computer Science and Engineering (4 Years, Bachelor of Technology)',
       'Mathematics and Computing (4 Years, Bachelor of Technology)',
       'Electronics and Electrical Communication Engineering (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Artificial Intelligence (4 Years, Bachelor of Technology)',
       'Electrical Engineering (4 Years, Bachelor of Technology)',
       'Electrical Engineering (Power and Automation) (4 Years, Bachelor of Technology)',
       'Electronics and Communication Engineering (4 Years, Bachelor of Technology)',
       'Artificial Intelligence and Data Analytics (4 Years, Bachelor of Technology)',
       'Mechanical Engineering (4 Years, Bachelor of Technology)',
       'Electrical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Engineering and Computational Mechanics (4 Years, Bachelor of Technology)',
       'Aerospace Engineering (4 Years, Bachelor of Technology)',
       'Data Science and Artificial Intelligence (4 Years, Bachelor of Technology)',
       'Mathematics and Computing (4 Years, Bachelor of Science)',
       'Chemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Industrial Engineering and Operations Research (4 Years, Bachelor of Technology)',
       'Chemical Engineering (4 Years, Bachelor of Technology)',
       'Mathematics and Computing (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Physics (4 Years, Bachelor of Science)',
       'Mathematics and Scientific Computing (4 Years, Bachelor of Science)',
       'Statistics and Data Science (4 Years, Bachelor of Science)',
       'Mathematics & Computing (5 Years, Bachelor of Science and Master of Science (Dual Degree))',
       'BS in Mathematics (4 Years, Bachelor of Science)',
       'Naval Architecture and Ocean Engineering (4 Years, Bachelor of Technology)',
       'Economics (4 Years, Bachelor of Science)',
       'Civil Engineering (4 Years, Bachelor of Technology)',
       'Industrial and Systems Engineering (4 Years, Bachelor of Technology)',
       'Engineering Physics (4 Years, Bachelor of Technology)',
       'Electronics and Electrical Engineering (4 Years, Bachelor of Technology)',
       'Instrumentation Engineering (4 Years, Bachelor of Technology)',
       'Energy Engineering (4 Years, Bachelor of Technology)',
       'Chemistry (4 Years, Bachelor of Science)',
       'Aerospace Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Metallurgical Engineering and Materials Science (4 Years, Bachelor of Technology)',
       'Production and Industrial Engineering (4 Years, Bachelor of Technology)',
       'Metallurgical and Materials Engineering (4 Years, Bachelor of Technology)',
       'Materials Engineering (4 Years, Bachelor of Technology)',
       'Biotechnology and Biochemical Engineering (4 Years, Bachelor of Technology)',
       'Environmental Science and Engineering (4 Years, Bachelor of Technology)',
       'Chemical Science and Technology (4 Years, Bachelor of Technology)',
       'Economics (5 Years, Bachelor of Science and Master of Science (Dual Degree))',
       'Physics (5 Years, Bachelor of Science and Master of Science (Dual Degree))',
       'Engineering Design (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Textile Technology (4 Years, Bachelor of Technology)',
       'Manufacturing Science and Engineering (4 Years, Bachelor of Technology)',
       'Materials Science and Engineering (4 Years, Bachelor of Technology)',
       'Mining Engineering (4 Years, Bachelor of Technology)',
       'Biological Engineering (4 Years, Bachelor of Technology)',
       'Agricultural and Food Engineering (4 Years, Bachelor of Technology)',
       'Chemical Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))',
       'Biological Sciences and Bioengineering (4 Years, Bachelor of Technology)',
       'Ocean Engineering and Naval Architecture (4 Years, Bachelor of Technology)',
       'Biosciences and Bioengineering (4 Years, Bachelor of Technology)',
       'Geological Technology (5 Years, Integrated Master of Technology)',
       'Biological Science (4 Years, Bachelor of Science)',
       'Earth Sciences (4 Years, Bachelor of Science)',
       'Geophysical Technology (5 Years, Integrated Master of Technology)',
       'Applied Geology (4 Years, Bachelor of Science)',
       'Exploration Geophysics (4 Years, Bachelor of Science)',
       'Architecture (5 Years, Bachelor of Architecture)',
       'Artificial Intelligence and Data Engineering (4 Years, Bachelor of Technology)',
       'Electronics Engineering (4 Years, Bachelor of Technology)',
       'Computational Engineering (4 Years, Bachelor of Technology)',
       'Electrical Engineering (IC Design and Technology) (4 Years, Bachelor of Technology)',
       'Electrical Engineering with M.Tech. in Power Electronics (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)',
       'Data Science and Engineering (4 Years, Bachelor of Technology)',
       'B.Tech in Mathematics and Computing (4 Years, Bachelor of Technology)',
       'B. Tech. (Mathematics & Computing) M. Tech. in (Mathematics & Computing) (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'Electrical and Electronics Engineering (4 Years, Bachelor of Technology)',
       'B.Tech. in Electronics and Communication Engineering and M.Tech. in Communication Systems (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'B.Tech (Artificial Intelligence and Data Science) - MBA in Digital Business Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B.Tech (Mathematics and Computing) - MBA in Digital Business Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B.Tech (Electrical and Electronics Engineering) - MBA (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B.Tech (Computer Science and Engineering) - MBA in Digital Business Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'Engineering Science (4 Years, Bachelor of Technology)',
       'B. Tech. (CSE) and M.Tech in CSE (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'Space Sciences and Engineering (4 Years, Bachelor of Technology)',
       'Integrated Circuit Design & Technology (4 Years, Bachelor of Technology)',
       'Civil Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Mechanical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Materials Science and Metallurgical Engineering (4 Years, Bachelor of Technology)',
       'Civil and Infrastructure Engineering (4 Years, Bachelor of Technology)',
       'B. Tech. (ECE) -M. Tech. in VLSI (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'B.Tech in Microelectronics & VLSI (4 Years, Bachelor of Technology)',
       'Biotechnology and Bioinformatics (4 Years, Bachelor of Technology)',
       'Mining Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'B.Tech (Electronics and Communication Engineering) - MBA in Hospital and Healthcare Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B. Tech in CE. - M. Tech. in Geotechnical Engineering (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'B. Tech. (EEE)-M. Tech. in (Power &. Control) (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'B.Tech (Mechanical Engineering) - MBA (IIM Mumbai) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'Biomedical Engineering (4 Years, Bachelor of Technology)',
       'Industrial Chemistry (4 Years, Bachelor of Technology)',
       'B. Tech. (ME) - M. Tech. in Mechatronics (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'Engineering Physics (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'B.Tech (Metallurgical and Materials Engineering) - MBA (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'Metallurgical Engineering (4 Years, Bachelor of Technology)',
       'BS in Economics with MBA (IIM Bodh Gaya) (5 Years, Bachelor of Science and MBA (Dual Degree))',
       'Metallurgical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'B.Tech in General Engineering (4 Years, Bachelor of Technology)',
       'Ceramic Engineering (4 Years, Bachelor of Technology)',
       'Materials Science and Technology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Pharmaceutical Engineering & Technology (4 Years, Bachelor of Technology)',
       'Bio Engineering (4 Years, Bachelor of Technology)',
       'B.Tech in Materials Science and Engineering (4 Years, Bachelor of Technology)',
       'Ceramic Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Bioengineering with M.Tech in Biomedical Technology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Biochemical Engineering with M.Tech. in Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Industrial Chemistry (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Physics with Specialization (4 Years, Bachelor of Science)',
       'Pharmaceutical Engineering & Technology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'B.Tech (Engineering Physics) - MBA (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B.Tech (Civil Engineering) - MBA (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B. Tech in CE. - M. Tech. in Structural Engineering (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'B.Tech (Chemical Science and Technology) - MBA in Hospital and Health Care Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'B.Tech (Chemical Engineering) - MBA in Hospital and Health Care Management (IIM Bodh Gaya) (5 Years, Bachelor of Technology and MBA (Dual Degree))',
       'Information Technology (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering ( Artificial Intelligence & Data Science) (4 Years, Bachelor of Technology)',
       'Electronics and Communication Engineering (VLSI Design and Technology) (4 Years, Bachelor of Technology)',
       'Computational and Data Science (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering with Specialization in Data Science (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Electronics and Instrumentation Engineering (4 Years, Bachelor of Technology)',
       'Artificial Intelligence and Machine Learning (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering with Specialization in Cyber Security (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Electronics and Communication Engineering with Specialization in Microelectronics and VLSI System Design (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Mathematics and Computing Technology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Electrical Engineering with Specialization In Power System Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Electronics and VLSI Engineering (4 Years, Bachelor of Technology)',
       'Artificial Intelligence (5 Years, Integrated B. Tech. and M. Tech.)',
       'Electronics and Communication Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Instrumentation and Control Engineering (4 Years, Bachelor of Technology)',
       'Bio Technology (4 Years, Bachelor of Technology)',
       'Production Engineering (4 Years, Bachelor of Technology)',
       'ROBOTICS & AUTOMATION (4 Years, Bachelor of Technology)',
       'VLSI Design and Technology (4 Years, Bachelor of Technology)',
       'Industrial Internet of Things (4 Years, Bachelor of Technology)',
       'Mechanical Engineering with Specialization in Manufacturing and Industrial Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Food Process Engineering (4 Years, Bachelor of Technology)',
       'Industrial Design (4 Years, Bachelor of Technology)',
       'Industrial and Production Engineering (4 Years, Bachelor of Technology)',
       'Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'SUSTAINABLE ENERGY TECHNOLOGIES (4 Years, Bachelor of Technology)',
       'Chemical Technology (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Mechatronics and Automation Engineering (4 Years, Bachelor of Technology)',
       'Material Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Metallurgical and Materials Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Ceramic Engineering and M.Tech Industrial Ceramic (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Civil Engineering with Specialization in Construction Technology and Management (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Petroleum Engineering (4 Years, Bachelor of Technology)',
       'Mechatronics Engineering (4 Years, Bachelor of Technology)',
       'Chemical and Biochemical Engineering (4 Years, Bachelor of Technology)',
       'Mining Machinery Engineering (4 Years, Bachelor of Technology)',
       'Mineral and Metallurgical Engineering (4 Years, Bachelor of Technology)',
       'Environmental Engineering (4 Years, Bachelor of Technology)',
       'Computer Science Engineering (Artificial Intelligence) (4 Years, B. Tech / B. Tech (Hons.))',
       'Computer Science Engineering (Data Science) (4 Years, B. Tech / B. Tech (Hons.))',
       'Electronics Engineering (VLSI Design and Technology) (4 Years, Bachelor of Technology)',
       'Integrated B. Tech.(IT) and MBA (5 Years, Integrated B. Tech. and MBA)',
       'Information Technology-Business Informatics (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering with Major in Artificial Intelligence (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering (Cyber Security) (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering with specialization in Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)',
       'Computer Science Engineering (Artificial lntelligence and Machine Learning) (4 Years, Bachelor of Technology)',
       'Integrated B. Tech.(IT) and M. Tech (IT) (5 Years, Integrated B. Tech. and M. Tech.)',
       'Mathematics and Scientific Computing (4 Years, Bachelor of Technology)',
       'Computer Science Engineering (Data Science and Analytics) (4 Years, Bachelor of Technology)',
       'Electronics and Communication Engineering with specialization in Design and Manufacturing (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering with specialization in Cyber Security (4 Years, Bachelor of Technology)',
       'Computer Science Engineering (Human Computer lnteraction and Gaming Technology) (4 Years, Bachelor of Technology)',
       'Smart Manufacturing (4 Years, Bachelor of Technology)',
       'Computer Engineering (4 Years, Bachelor of Technology)',
       'B.Tech in Mechanical Engineering and M.Tech in AI and Robotics (5 Years, B.Tech. + M.Tech./MS (Dual Degree))',
       'CSE ( Data Science & Analytics) (4 Years, Bachelor of Technology)',
       'Mechanical Engineering with specialization in Design and Manufacturing (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering (with Specialization of Data Science and Artificial Intelligence) (4 Years, B. Tech / B. Tech (Hons.))',
       'Electronics and Communication Engineering (Internet of Things) (4 Years, Bachelor of Technology)',
       'Electronics and Communication Engineering (with Specialization of Embedded Systems and Internet of Things) (4 Years, B. Tech / B. Tech (Hons.))',
       'B.Tech. in Electronics and Communication Engineering and M.Tech. in VLSI Design (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Electronics and Telecommunication Engineering (4 Years, Bachelor of Technology)',
       'Computer Science and Engineering (Data Science) (4 Years, Bachelor of Technology)',
       'Planning (4 Years, Bachelor of Planning)',
       'Computer Science and Artificial Intelligence (4 Years, Bachelor of Technology)',
       'Mathematics (5 Years, Integrated Master of Science)',
       'Computer Science and Engineering (Artificial Intelligence) (4 Years, Bachelor of Technology)',
       'Physics (5 Years, Integrated Master of Science)',
       'Computer Science (4 Years, Bachelor of Technology)',
       'Computer Science and Business (4 Years, Bachelor of Technology)',
       'Materials Engineering (5 Years, Integrated Master of Technology)',
       'Mathematics and Data Science (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Food Technology and Management (4 Years, Bachelor of Technology)',
       'Microelectronics & VLSI Engineering (4 Years, Bachelor of Technology)',
       'Food Technology (4 Years, Bachelor of Technology)',
       'Chemistry (5 Years, Integrated Master of Science)',
       'Computational Mathematics (5 Years, Bachelor and Master of Technology (Dual Degree))',
       'Metallurgy and Materials Engineering (4 Years, Bachelor of Technology)',
       'Bio Medical Engineering (4 Years, Bachelor of Technology)',
       'Life Science (5 Years, Integrated Master of Science)',
       'Food Engineering and Technology (4 Years, Bachelor of Technology)',
       'Electronic Engineering (4 Years, Bachelor of Technology)',
       'Quantitative Economics & Data Science (5 Years, Integrated Master of Science)',
       'Chemistry (5 Years, Bachelor of Science and Master of Science (Dual Degree))',
       'Computer Science and Engineering (Cyber Physical System) (4 Years, Bachelor of Technology)',
       'Chemical Engineering (5 Years, Integrated Masters in Technology)',
       'Integrated B. Tech. - M. Tech in Electrical Engineering (5 Years, Integrated B. Tech. and M. Tech.)',
       'B.Tech in Civil Engineering (Rail Engineering) (4 Years, Bachelor of Technology)',
       'Mathematics and Computing (5 Years, Integrated Master of Science)',
       'Electronics and Communication Engineering with specialization in VLSI and Embedded Systems (4 Years, Bachelor of Technology)',
       'Agricultural Engineering (4 Years, Bachelor of Technology)',
       'B.Tech in Electrical Engineering ( Rail Engineering) (4 Years, Bachelor of Technology)',
       'B.Tech in Artificial Intelligenece and Data Science (Transportation and Logistics) (4 Years, Bachelor of Technology)',
       'Aeronautical Engineering (4 Years, Bachelor of Technology)',
       'B.Tech in Mechanical Engineering ( Rail Engineering) (4 Years, Bachelor of Technology)',
       'B.Tech in Electronics & Communication Engineering (Rail Engineering) (4 Years, Bachelor of Technology)',
       'Carpet and Textile Technology (4 Years, Bachelor of Technology)',
       'B.Tech in Aviation Engineering (4 Years, Bachelor of Technology)',
       'Integrated B. Tech. - M. Tech in Computer Science & Engineering (5 Years, Integrated B. Tech. and M. Tech.)',
       'Handloom and Textile Technology (4 Years, Bachelor of Technology)',
       'Printing and Packaging Technology (4 Years, Bachelor of Technology)',
       'Civil and Environmental Engineering (4 Years, Bachelor of Technology)',
       'Electronics and Communication Engineering (Avionics) (4 Years, Bachelor of Technology)',

In [20]:
df["Gender"].unique()

array(['Gender-Neutral', 'Female-only (including Supernumerary)'],
      dtype=object)

In [21]:
df["Exam"].unique()

array(['JEE Advanced', 'JEE Main'], dtype=object)

In [22]:
df["State"].unique()

array(['Maharashtra', 'Delhi', 'Uttar Pradesh', 'Tamil Nadu',
       'West Bengal', 'Assam', 'Uttarakhand', 'Telangana',
       'Madhya Pradesh', 'Rajasthan', 'Odisha', 'Gujarat', 'Punjab',
       'Bihar', 'Himachal Pradesh', 'Karnataka', 'Kerala', 'Haryana',
       'Chhattisgarh', 'Jharkhand', 'Andhra Pradesh', 'Goa', 'Puducherry',
       'Sikkim', 'Jammu and Kashmir', 'Chandigarh', 'Tripura',
       'Meghalaya', 'Nagaland', 'Manipur', 'Mizoram', 'Arunachal Pradesh'],
      dtype=object)

In [24]:
# df["Round"].max()
# not there right now

In [28]:
df["Quota"].unique()

array(['AI', 'HS', 'OS'], dtype=object)

In [ ]:
# re rank based on round 1 ke open category ka closing ranks!

In [26]:
df[df["Institute"] == "National Institute Of Technology Karnataka Surathkal"]["Quota"].unique()

array(['HS', 'OS'], dtype=object)

In [32]:
neet_report = pd.read_csv("Admitted Candidates List Upto Mop Up Round MBBS BD.xlsx - Report.csv")
neet_stud = pd.read_csv("Admitted Candidates List Upto Mop Up Round MBBS BD.xlsx - Table 1.csv", header=1)

neet_stud.columns, neet_report.columns

(Index(['S. No.', 'Rollno', 'Name', 'Quota', 'AIR', 'Category', 'optionN o',
        'Institute Code', 'Institute Name', 'Subject', 'Allotted Category',
        'Allotte d ph', 'Admitte dRound'],
       dtype='object'),
 Index(['Institute Name', 'State', 'Subject', 'General', 'EW', 'SC', 'ST',
        'OBC', 'General_PWD', 'EW_PWD', 'SC_PWD', 'ST_PWD', 'OBC_PWD',
        'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
        'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
        'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
       dtype='object'))

In [186]:
from collections import defaultdict

institute_code_to_names = defaultdict(list)
institute_name_to_codes = {}
for it, row in neet_stud.iterrows():
    code, name = row["Institute Code"], row["Institute Name"]

    if name not in institute_code_to_names[code]:
        institute_code_to_names[code].append(name)

    institute_name_to_codes[name] = code

In [ ]:
for k, v in institute_code_to_names.items():
    if len(v) > 1:
        print(k, v)
        break

In [167]:
# i am picking the first one that appears
code_to_college_mapper = {}
for k, v in institute_code_to_names.items():
    code_to_college_mapper[k] = v[0]

assert len(institute_code_to_names) == len(code_to_college_mapper)

In [168]:
# for each round, for each subject, for each quota, 
# using ph as pwd -- physically handicapped
# consider allotted cat or actual cat?
# what to do about quota? Employee State Insurance, etc.
# all of this should be for each institute na ... institute code!!
deter_cols = ["Quota", "Admitte dRound", "Allotte d ph", "Subject"]

output_cols = ["Institute Code", "Institute Name"]

close_mapper = defaultdict(lambda : 0)
open_mapper = defaultdict(lambda : float("inf"))

for it, row in neet_stud.iterrows():

    deter_col_vals = [row[x] for x in deter_cols]
    
    cat = row["Allotted Category"]
    if cat == "OP":
        cat = "General"
    
    deter_col_vals.append(cat)

    inst_code = row["Institute Code"]
    output_col_vals = [inst_code, code_to_college_mapper[inst_code]]

    all_cols = deter_col_vals + output_col_vals

    all_cols = tuple(all_cols) # hashable

    if close_mapper[all_cols] < row["AIR"]:
        close_mapper[all_cols] = row["AIR"]

    if open_mapper[all_cols] > row["AIR"]:
        open_mapper[all_cols] = row["AIR"]

In [169]:
for k, v in close_mapper.items():
    print(k, v)
    break

('Open Seat Quota', 1, 'NO', 'MBBS', 'General', 200502, 'AIIMS, New Delhi,AIIMS ANSARI NAGAR EAST AUROBINDO MARG NEW DELHI 110029, Delhi (NCT), 110029') 55.0

In [170]:
cat_unique_values = ["SC", "ST", "General", "OBC", "EW"]

In [171]:
all_dic = []
selectors = [0, 1, 2, 3, 4, 5, 6]
selector_names = ["Quota", "Round", "is_PWD", "Subject", "Seat Type", "Institute Code", "Institute Name"]

for k, v in close_mapper.items():
    dic = {}
    for key_index, name in zip(selectors, selector_names):
        dic[name] = k[key_index]

    if k in open_mapper:
        dic["Opening Rank"] = open_mapper[k]

    dic["Closing_Rank"] = v
    
    all_dic.append(dic)

    # break

all_dic = pd.DataFrame(all_dic)

In [172]:
# time to rank institutes!!
# find round 1 ka opening rank.. rank based on it!

code_to_open_ranks = defaultdict(lambda : float("inf"))

for it, row in all_dic.iterrows():
    # print(row["Round"] == 1 , row["Category"] == "General" , row["is_PWD"] == "NO", row["Quota"] == "Open Seat Quota")
    if code_to_open_ranks[row["Institute Code"]] > row["Opening Rank"]:
        code_to_open_ranks[row["Institute Code"]] = row["Opening Rank"]

        # break

In [173]:
# now sort the dict based on this
# sort keys of dict based on values
ranking = sorted(code_to_open_ranks.items(), key = lambda item: item[1])

code_to_rank_mapper = {}

rank_idx = 1
for k, v in ranking:
    code_to_rank_mapper[k] = rank_idx
    rank_idx += 1

In [174]:
len(all_dic["Institute Code"].unique()), len(code_to_open_ranks)

(483, 483)

In [175]:
all_dic["College Rank"] = all_dic["Institute Code"].map(code_to_rank_mapper)

In [177]:
# combine pwd and category
all_dic["Seat Type"] = all_dic.apply(lambda row: row["Seat Type"] + " (PwD)" if row["is_PWD"] != "NO" else row["Seat Type"], axis = 1)

In [151]:
all_dic.columns, df.columns

(Index(['Quota', 'Round', 'is_PWD', 'Subject', 'Category', 'Institute Code',
        'Institute Name', 'Opening Rank', 'Closing_Rank', 'College Rank'],
       dtype='object'),
 Index(['College Rank', 'State', 'Exam', 'Institute', 'Academic Program Name',
        'Quota', 'Special Quota', 'Seat Type', 'Gender', 'Round',
        'Opening Rank', 'Closing Rank', 'Input Rank Comparison to Closing Rank',
        'Category Match', '500', 'OBC-NCL'],
       dtype='object'))

In [183]:
all_dic = all_dic.rename(columns={
    "Category": "Seat Type",
    "Institute Name": "Institute",
    "Subject": "Academic Program Name",
    "Closing_Rank": "Closing Rank"
})

In [179]:
def replace_cat(row):
    cat = row["Seat Type"]
    if cat == "General":
        cat = "OPEN"
    elif cat == "General (PwD)":
        cat = "OPEN (PwD)"
    elif cat == "EW":
        cat = "EWS"
    elif cat == "EW (PwD)":
        cat = "EWS (PwD)"
    elif cat == "OBC":
        cat = "OBC-NCL"
    elif cat == "OBC (PwD)":
        cat = "OBC-NCL (PwD)"

    return cat

all_dic["Seat Type"] = all_dic.apply(lambda row: replace_cat(row), axis = 1)

In [187]:
# figuring out state for each..
# merge on institute name
print(neet_stud.shape, neet_report.shape)
inst_code_to_state_map = {}
for it, row in pd.merge(neet_stud, neet_report, on=["Institute Name"]).iterrows():
    name, state = row["Institute Name"], row["State"]

    inst_code_to_state_map[institute_name_to_codes[name]] = state



all_dic["State"] = all_dic["Institute Code"].map(inst_code_to_state_map)

(23059, 13) (433, 25)

In [188]:
for cat in all_dic["Seat Type"].unique():
    all_dic_category = all_dic[all_dic["Seat Type"] == cat]

    all_dic_category.to_json(f"public/data/NEET/{cat}.json", orient="records")

In [190]:
all_dic.to_csv("Surya - NEET Data.csv")

In [78]:
schol_data = pd.read_csv("scholarship_data.csv")

In [79]:
schol_data.columns

Index(['Scholarship Name', 'No. of awards', 'Scholarship Amount',
       'Scholarship Frequency', 'Status', 'Class 10 or below can apply',
       'Class 11 can Apply', 'Class 12 can Apply', '12th Passed Can Apply',
       '2nd/3rd Yr Eligible', 'Diploma/ITI', 'Eligible for PG', 'Gender',
       'Family Income (in INR)', 'State', 'City', 'Last Date', 'Stream',
       'Eligibility', 'Benefits', 'Doc Required', 'Application Link',
       'Pre-filled Form Link'],
      dtype='object')

In [23]:
# def expand_rows(df, columns):
#     df_expanded = df.copy()
#     for column in columns:
#         df_expanded = df_expanded.drop(column, axis=1).join(
#             df_expanded[column].dropna().str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename(column)
#         )
#     return df_expanded

# # Expanding rows for 'State' and 'City' columns
# expanded_df = expand_rows(schol_data, ['State', 'City ', 'Stream', 'Gender'])

In [80]:
# processing grade columns
grade_columns = [
    "Class 10 or below can apply",
    "Class 11 can Apply",
    "Class 12 can Apply",
    "12th Passed Can Apply",
    "2nd/3rd Yr Eligible",
    "Diploma/ITI",
    "Eligible for PG"
]

grade_form = """Currently in 10th or below
Currently in 11th
Currently in 12th
12th pass/ Currently in UG 1st year
Currently in UG 2nd/3rd/4th year
Currently in PG
Currently in Diploma
Any""".splitlines()

grade_labels = ["10", "11", "12", "12_pass", "UG", "Diploma", "PG"]

def create_grade_array(row):
    grades = []
    for col, label in zip(grade_columns, grade_labels):
        if row[col] == "Yes":  # if the value is truthy
            grades.append(label)
    return grades

schol_data['Grade'] = schol_data.apply(create_grade_array, axis=1)

In [81]:
# family income processing
import re
def extract_income(value):
    if pd.isnull(value): return value
    match = re.search(r'(\d+(\.\d+)?)', value)  # matches the first numeric value (integer or decimal)
    if match:
        return float(match.group(1))  # return as float to handle decimals
    return value  # return original value if no match

# Apply the function to the Salary column
schol_data['Family Income (in INR)'] = schol_data['Family Income (in INR)'].apply(extract_income)

In [82]:
schol_data["Family Income (in INR)"]

0      NaN
1      8.0
2      6.0
3      8.0
4      6.0
      ...
177    NaN
178    6.0
179    6.0
180    NaN
181    6.0
Name: Family Income (in INR), Length: 182, dtype: float64

In [28]:

# expanded_df = expanded_df.rename(columns={"City ": "City"})

In [25]:
# expanded_df["State"].unique()

array([nan, 'Goa', 'Gujarat', 'Maharashtra', 'Himachal Pradesh',
       'Andhra Pradesh', 'Karnataka', 'Telangana', 'Tamil Nadu', 'Kerala',
       'Bihar', 'Haryana', 'Uttarakhand', 'West Bengal', 'Assam', 'Delhi',
       'Rajasthan', 'Jharkhand', 'Punjab', 'Odisha', 'Chhattisgarh',
       'Madhya Pradesh', 'Uttar Pradesh'], dtype=object)

In [26]:
# expanded_df["City"].unique()

array([nan, 'Mumbai', 'Delhi NCR', 'Ahmedabad', 'Bangalore', 'Pune',
       'Chennai', 'Nagpur', 'Hyderabad'], dtype=object)

In [51]:
# expanded_df.iloc[92]

In [83]:
schol_data.to_json("public/data/scholarships/scholarship_data.json", orient="records")

In [70]:
schol_data.head()

,Scholarship Name,No. of awards,Scholarship Amount,Scholarship Frequency,Status,Class 10 or below can apply,Class 11 can Apply,Class 12 can Apply,12th Passed Can Apply,2nd/3rd Yr Eligible,...,State,City,Last Date,Stream,Eligibility,Benefits,Doc Required,Application Link,Pre-filled Form Link,Grade
0,Samsung Star,NaN,NaN,One-time,Closed,No,No,No,Yes,No,...,NaN,NaN,NaN,Engineering (BTech),Be enrolled in B.Tech/B.Tech+M.Tech dual degre...,The selected students will receive a scholarsh...,Self-attested photograph\nSelf-certified Class...,https://www.samsung.com/in/microsite/sapne-hue...,https://docs.google.com/forms/d/e/1FAIpQLSecfF...,[12_pass]
1,Colgate - BDS,NaN,"75,000",One-time,Open,No,No,No,Yes,Yes,...,"Goa, Gujarat, Maharashtra, Himachal Pradesh, A...",NaN,10/31/2024,Medical (BDS),Open for students who are currently enrolled i...,"₹75,000",Photo identity proof (Aadhaar Card)\nPassport-...,https://www.buddy4study.com/page/colgate-keep-...,https://docs.google.com/forms/d/e/1FAIpQLSecfF...,"[12_pass, UG]"
2,Colgate - Class XI,NaN,"20,000",2 years,Closed,No,Yes,No,No,No,...,NaN,NaN,3/31/2023,NaN,Must have passed Class 10 board examination in...,"INR 20,000 per annum for 2 years",Passport-sized photograph\nValid ID proof – Ei...,https://www.colgate.com/en-in/smile-karo-aur-s...,https://docs.google.com/forms/d/e/1FAIpQLSecfF...,[11]
3,Colgate Keep India Smiling Scholarship for MDS...,NaN,"75,000",One-time,Open,No,No,No,No,No,...,"Goa, Gujarat, Maharashtra, Himachal Pradesh, A...",NaN,10/31/2024,Medical (BDS),Open for students currently enrolled in the MD...,"One-time scholarship of INR 75,000",Photo identity proof (Aadhaar Card)\nPassport-...,NaN,https://docs.google.com/forms/d/e/1FAIpQLSecfF...,[PG]
4,Colgate - Graduate,NaN,"30,000",3 years,Closed,No,No,No,Yes,No,...,NaN,NaN,3/31/2023,"Science (BSc), Commerce (BCom), Arts (BA)",Must have passed Class 12 board examination in...,"INR 30,000 per year for 3 years",Passport-sized photograph\nValid ID proof – Ei...,https://www.colgate.com/en-in/smile-karo-aur-s...,https://docs.google.com/forms/d/e/1FAIpQLSecfF...,[12_pass]

In [77]:
# Defining the filter based on the URL parameters
df = schol_data
status_filter = 'Closed'
grade_filter = '12_pass'
stream_filter = 'Engineering (BTech)'
gender_filter = 'Girls'
familyIncome_filter = 2
state_filter = 'All India'

# Applying the filters to the DataFrame
filtered_df = df[
    (df['Status'] == status_filter) &
    (df['Grade'].apply(lambda grades: grade_filter in grades)) &
    (df['Stream'] == stream_filter) &
    # (df['Gender'] == gender_filter) &
    # (df['Family Income (in INR)'] <= familyIncome_filter) &  # Assuming "familyIncome=2" means <= 2
    ((df['State'] == state_filter) | (state_filter == 'All India'))  # 'All India' as a wildcard
]

# Display the filtered DataFrame
print(filtered_df)

                                      Scholarship Name  No. of awards  \
0                                         Samsung Star            NaN
11                Rolls Royce Unnati Women Engineering            NaN
13   Schaeffler India Hope Engineering Scholarship ...            NaN
16               Deutsche Bank Engineering Scholarship            NaN
18   Ericsson Empowering Girls Scholarship for Engi...            NaN
26          Panasonic Ratti Chhatr Scholarship 2022-23            NaN
63    Medhaavi Engineering Scholarship Program 2023-24            NaN
69                        Siemens Scholarship\nProgram            NaN
81                  Aspire Scholarship Program 2023-24           28.0
93   Alstom India Scholarship for STEM Education at...          115.0
96   Alstom India Scholarship for STEM Education at...           44.0
98   Infocepts Innovate for Impact Scholarship 2023-24            NaN
151                   IET India Scholarship Award 2024            NaN
152                   Bright Minds Scholarship 2024-25            NaN
158   HOPE Engineering Scholarship by Schaeffler India            NaN
160          Bharti Airtel Scholarship Program 2024-25            NaN
162  Appinventiv ‘Edu Boost’ Scholarship Program 20...            NaN
164  Mohan T Advani Centennial Scholarship Programm...            NaN
172  Adani Gyanjyoti Scholarship for Engineering St...            NaN

             Scholarship Amount Scholarship Frequency  Status  \
0                           NaN              One-time  Closed
11                       35,000              One-time  Closed
13                       50,000              One-time  Closed
16                      100,000              Per Year  Closed
18                       75,000              Per Year  Closed
26                        70250              Per Year  Closed
63                        50000              One-time  Closed
69                       10,000              One-time  Closed
81                       75,000              Per Year  Closed
93                        75000              One-time  Closed
96                        24000              One-time  Closed
98                        75000              One-time  Closed
151                       50000              One-time  Closed
152                       20000              One-time  Closed
158             Full Course Fee              Per Year  Closed
160                         50k              Per Year  Closed
162  Full Course Fee and Laptop              Per Year  Closed
164                      30,000              One-time  Closed
172                   2.5 Lakhs              Per Year  Closed

    Class 10 or below can apply Class 11 can Apply Class 12 can Apply  \
0                            No                 No                 No
11                           No                 No                 No
13                           No                 No                 No
16                           No                 No                 No
18                           No                 No                 No
26                           No                 No                 No
63                           No                 No                 No
69                           No                 No                 No
81                           No                 No                 No
93                           No                 No                 No
96                           No                 No                 No
98                           No                 No                 No
151                          No                 No                 No
152                          No                 No                 No
158                          No                 No                 No
160                          No                 No                 No
162                          No                 No                 No
164                          No                 No                 No
172                          No                 No                 No

    12th Passed Can Apply 2nd/3rd Yr Eligible  ...  \
0                     Yes                  No  ...
11                    Yes                 Yes  ...
13                    Yes                 NaN  ...
16                    Yes                 NaN  ...
18                    Yes                 NaN  ...
26                    Yes                 Yes  ...
63                    Yes                  No  ...
69                    Yes                 NaN  ...
81                    Yes                  No  ...
93                    Yes                  No  ...
96                    Yes                  No  ...
98                    Yes                  No  ...
151                   Yes                 Yes  ...
152                   Yes                  No  ...
158                   Yes                  No  ...
160                   Yes                  No  ...
162                   Yes                  No  ...
164                   Yes                 Yes  ...
172                   Yes                  No  ...

                                                 State  \
0                                                  NaN
11                                                 NaN
13                    Gujarat, Maharashtra, Tamil Nadu
16                                                 NaN
18                                                 NaN
26                                                 NaN
63                                                 NaN
69                                                 NaN
81                                                 NaN
93                                                 NaN
96   Andhra Pradesh, Bihar, Gujarat, Tamil Nadu, We...
98                                                 NaN
151                                                NaN
152                                                NaN
158                                                NaN
160                                                NaN
162                                                NaN
164                                                NaN
172  Andhra Pradesh, Gujarat, Rajasthan, Odisha, Ch...

                                           City    Last Date  \
0                                            NaN         NaN
11                                           NaN    9/5/2024
13                                           NaN         NaN
16                                           NaN         NaN
18                                           NaN         NaN
26                                           NaN   8/15/2024
63                                           NaN   9/30/2023
69                                           NaN         NaN
81                                           NaN   9/10/2024
93                                           NaN   9/30/2024
96                                           NaN   9/15/2023
98   Pune, Ahmedabad, Bangalore, Chennai, Nagpur  10/22/2023
151                                          NaN   5/31/2024
152                                          NaN   6/28/2024
158                                          NaN   7/30/2024
160                                          NaN   8/31/2024
162                                          NaN   9/30/2024
164                                          NaN   8/15/2024
172                                          NaN   10/7/2024

                  Stream                                        Eligibility  \
0    Engineering (BTech)  Be enrolled in B.Tech/B.Tech+M.Tech dual degre...
11   Engineering (BTech)  Applicants must be studying in the 1st/2nd/3rd...
13   Engineering (BTech)  Open for students from Gujarat, Maharashtra, a...
16   Engineering (BTech)  Students in their first year of engineering wh...
18   Engineering (BTech)  Applicants must be studying in the 2nd year of...
26   Engineering (BTech)  Students who have cleared the entrance test fo...
63   Engineering (BTech)  Open for engineering students (any year).\nMus...
69   Engineering (BTech)  First-year students of Government\nEngineering...
81   Engineering (BTech)  Students joining the first-year of B.Tech. cou...
93   Engineering (BTech)  Students pursuing graduation (engineering) in ...
96   Engineering (BTech)  Students pursuing graduation (engineering) in ...
98   Engineering (BTech)  Open for students pursuing engineering courses...
151  Engineering (BTech)  Open for students studying in the 1st, 2nd, 3r...
152  Engineering (BTech)  Open to students enrolling in their first year...
158  Engineering (BTech)  Open to female students and preference will be...
160  Engineering (BTech)  Confirmed admission or enrollment in the first...
162  Engineering (BTech)  Open to students currently in the first year o...
164  Engineering (BTech)  First and second-year students enrolled in a d...
172  Engineering (BTech)  Candidates who are domiciles of Andhra Pradesh...

                                              Benefits  \
0    The selected students will receive a scholarsh...
11                                          INR 25,000
13   Up to INR 75,000 per year for the complete dur...
16   A scholarship of up to 100,000 rupees (approx....
18   INR 75,000 per year \n\n(The scholarship amoun...
26   Scholarship amount: INR 70,250 per year for fo...
63            One-time fixed scholarship of INR 50,000
69   Reimbursement of tuition\nfees\n2. Allowances ...
81   A total of 28 beneficiaries will be awarded sc...
93                                 INR 75,000 One Time
96   INR 75,000\nNote: This is a one-time scholarship.
98   Up to INR 50,000 per year for a duration of 3 ...
151  The selected scholars will receive the scholar...
152  Students stand a chance to receive up to 100% ...
158                          Scholarship of INR 50,000
160  Scholarship are for the full duration of the U...
162  One-time scholarship of INR 30,000\n\nNote: Th...
164  INR 75,000 or 50% of the annual fees (whicheve...
172    Annual tuition fees up to INR 2,50,000 per year

                                          Doc Required  \
0    Self-attested photograph\nSelf-certified Class...
11   Photo identity proof\nAddress proof\nClass 10 ...
13   Passport size photograph\nAadhaar Card\nFamily...
16                                                 NaN
18   Photo identity proof (Aadhaar Card)\nPassport ...
26   The applicants are required to upload the foll...
63   The applicants are required to attach the foll...
69                                                 NaN
81   Applicants are required to upload the followin...
93                                                 NaN
96   Passport size photograph\nMarksheet of previou...
98   Passport-size photograph of the applicant\nMar...
151  No documents are required to be attached at th...
152  Government-issued address proof (e.g., Aadhaar...
158  Passport size photograph\n\nAadhaar Card\n\nFa...
160  Proof of identity (Aadhaar card)\nCurrent year...
162  Recent passport-size photograph\nSchool/course...
164  Proof of admission (Admission letter/Instituti...
172  Government-issued identity proof (Aadhaar card...

                                      Application Link  \
0    https://www.samsung.com/in/microsite/sapne-hue...
11   https://www.buddy4study.com/page/rolls-royce-u...
13   https://www.buddy4study.com/page/schaeffler-in...
16   https://www.db.com/news/detail/20220901-deutsc...
18   https://www.buddy4study.com/page/ericsson-empo...
26   https://www.buddy4study.com/page/ratti-chhatr-...
63   https://www.buddy4study.com/page/medhaavi-engi...
69   https://new.siemens.\ncom/in/en/company/sustai...
81   https://www.buddy4study.com/application/ASPI1/...
93   https://www.buddy4study.com/page/alstom-india-...
96   https://www.buddy4study.com/page/alstom-india-...
98   https://www.buddy4study.com/page/infocepts-inn...
151     https://scholarships.theietevents.com/register
152  https://www.buddy4study.com/page/bright-minds-...
158  https://www.buddy4study.com/application/SIHE15...
160                                                NaN
162                                                NaN
164                                                NaN
172                                                NaN

                                  Pre-filled Form Link          Grade
0    https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
11   https://docs.google.com/forms/d/e/1FAIpQLSecfF...  [12_pass, UG]
13   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
16   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
18   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
26   https://docs.google.com/forms/d/e/1FAIpQLSecfF...  [12_pass, UG]
63   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
69   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
81   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
93   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
96   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
98   https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
151  https://docs.google.com/forms/d/e/1FAIpQLSecfF...  [12_pass, UG]
152  https://docs.google.com/forms/d/e/1FAIpQLSecfF...  [12_pass, PG]
158  https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
160  https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
162  https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]
164  https://docs.google.com/forms/d/e/1FAIpQLSecfF...  [12_pass, UG]
172  https://docs.google.com/forms/d/e/1FAIpQLSecfF...      [12_pass]

[19 rows x 24 columns]

####################################

In [46]:
mhcet_data = pd.read_csv("MHT CET 2023 All Cutoffs - Cutoffs.csv")
mhcet_cat = pd.read_csv("MHT CET 2023 All Cutoffs - Categories.csv")

In [47]:
mhcet_cat = mhcet_cat.rename(columns = {"Unnamed: 0": "Cat"})

In [48]:
for col in mhcet_cat.columns:
    print(mhcet_cat[col].unique())

['GOPENS' 'GOPENH' 'GSCS' 'GSTS' 'GVJS' 'GNT1S' 'GNT2S' 'GNT3S' 'GOBCS'
 'LOPENS' 'LSCS' 'LSTS' 'LVJS' 'LNT1S' 'LNT2S' 'LNT3S' 'LOBCS' 'PWDOPENS'
 'DEFOPENS' 'TFWS' 'EWS' 'PWDROBC\nS' 'DEFROBCS' 'Unnamed: 1' 'PWDRSCS'
 'GSCH' 'GVJH' 'GNT1H' 'GOBCH' 'LOPENH' 'LOBCH' 'GOPENO' 'GSCO' 'GNT3O'
 'GOBCO' 'LOPENO' 'LSCH' 'GSTH' 'LNT2H' 'GNT2H' 'GNT3H' 'LNT1H' 'LSTH'
 'GNT2O' 'LSTO' 'LOBCO' 'LNT3H' 'PWDOPENH' 'GSTO' 'GVJO' 'LSCO' 'LNT2O'
 'LVJO' 'LNT3O' 'LVJH' 'LNT1O' 'GNT1O' 'PWDROBC' 'PWDOBCS' 'DEFOBCS'
 'DEFRSCS' 'ORPHAN' 'MI' 'DEFRNT3S' 'DEFRNT2S' 'PWDRNT2S' 'DEFRNT1S'
 'DEFRVJS' 'PWDSCS' 'DEFSCS' 'PWDRNT3S' 'PWDRSCH' 'PWDRNT1S' 'PWDRSTS'
 'PWDOBCH' 'PWDRNT2H' 'PWDSCH' 'PWDRNT1H' 'PWDROBC\nH' 'Unnamed: 2'
 'PWDRSTH' 'PWDRVJH' 'PWDRVJS']
['General' 'Female']
['Open' 'SC' 'ST' 'VJ' 'NT' 'OBC' nan 'EWS' 'Orphan' 'Religious Minority']
['Maharashtra' 'Other']
['No' 'Yes']
['No' 'Yes']
['MHT CET']

In [49]:
# required columns
# Gender, Category, State, PWD, Defense, Closing Rank, Institute, Course

all_dic = []
for it, row in mhcet_data.iterrows():
    for k, v in row.items():
        
        if k in ["College", "Course", "Unnamed: 1", "Unnamed: 2"]:
            continue
        else:
            dic = {}
            dic["Institute"] = row["College"]
            dic["Course"] = row["Course"]
            cat_row = dict(mhcet_cat[mhcet_cat["Cat"] == k].iloc[0])
            
            dic["Category"] = cat_row["Category"]
            if cat_row["Gender"] == "General":
                dic["Gender"] = "Gender-Neutral"
            elif cat_row["Gender"] == "Female":
                dic["Gender"] = "Female-Only"
            dic["Defense"] = cat_row["Defense Ward"]
            dic["PWD"]= cat_row["PWD"]
            dic["State"] = cat_row["State"]
            dic["Category_Key"] = k

            if v == "" or pd.isna(v): continue # no rank available

            v = str(v)

            if "\n" in v:
                v = v.split("\n")[0]
            elif " " in v:
                v = v.split(" ")[0]
            elif "." in v:
                v = v.split(".")[0]

            dic["Closing Rank"] = v

            all_dic.append(dic)
            # break 
    
    # break 
            # dic["Category"] = k

In [50]:
final_mhcet_data = pd.DataFrame(all_dic)

In [51]:
final_mhcet_data.to_json("public/data/MHTCET/mhtcet_data.json", orient="records")

In [52]:
for it, row in final_mhcet_data.iterrows():
    # Show Both Maharashtra No No General
    # print(row)
    if row["Category"] == "Open" and row["Gender"] == "Gender-Neutral" and row["State"] == "Maharashtra" and row["PWD"] == "No" and row["Defense"] == "No":
        print(row)
    break

Institute       Government College of Engineering, Amravati
Course                                    Civil Engineering
Category                                               Open
Gender                                       Gender-Neutral
Defense                                                  No
PWD                                                      No
State                                           Maharashtra
Category_Key                                         GOPENS
Closing Rank                                          45820
Name: 0, dtype: object

In [50]:
final_mhcet_data.columns

Index(['Institute', 'Course', 'Category', 'Gender', 'Defense', 'PWD', 'State',
       'Category_Key', 'Closing Rank'],
      dtype='object')

In [53]:
for col in final_mhcet_data.columns:
    if col not in ["Institute", "Closing Rank", "Course"]:
        print(final_mhcet_data[col].unique())

['Open' 'SC' 'ST' 'VJ' 'NT' 'OBC' nan 'EWS' 'Orphan' 'Religious Minority']
['General' 'Female']
['No' 'Yes']
['No' 'Yes']
['Maharashtra']
['GOPENS' 'GSCS' 'GSTS' 'GVJS' 'GNT1S' 'GNT2S' 'GNT3S' 'GOBCS' 'LOPENS'
 'LSCS' 'LSTS' 'LVJS' 'LNT1S' 'LNT2S' 'LNT3S' 'LOBCS' 'PWDOPENS'
 'DEFOPENS' 'TFWS' 'EWS' 'PWDROBC\nS' 'DEFROBCS' 'PWDRSCS' 'GOPENH' 'GSCH'
 'GVJH' 'GNT1H' 'GOBCH' 'LOPENH' 'LOBCH' 'LSCH' 'GNT2H' 'GNT3H' 'LNT1H'
 'GSTH' 'LSTH' 'LNT3H' 'PWDOPENH' 'LNT2H' 'LVJH' 'PWDROBC' 'PWDOBCS'
 'DEFOBCS' 'DEFRSCS' 'DEFRNT3S' 'ORPHAN' 'DEFRNT2S' 'DEFRVJS' 'PWDRNT2S'
 'MI' 'PWDSCS' 'DEFSCS' 'DEFRNT1S' 'PWDRNT1S' 'PWDRSTS' 'PWDRNT3S'
 'PWDOBCH' 'PWDSCH' 'PWDRNT1H' 'PWDROBC\nH' 'PWDRSTH']

In [58]:
final_mhcet_data[final_mhcet_data["Category_Key"] == "LOBCO"]

Empty DataFrame
Columns: [Institute, Course, Category, Gender, Defense, PWD, State, Category_Key, Closing Rank]
Index: []

In [66]:
kcet_data = pd.read_csv("kcet_counselling_data_2022.csv")

print(kcet_data.shape)
print(kcet_data.columns)

(138775, 14)
Index(['ENTRY No.', 'OFFSET', 'Course Type', 'category', 'filename',
       'sheetname', 'college', 'course', 'Caste', 'Category', 'Language',
       'Rural / Urban', 'Label', 'Closing Rank'],
      dtype='object')

In [70]:
all_dic = []
for it, row in kcet_data.iterrows():
    dic = {}
    if pd.isna(row["college"]): continue
    if pd.isna(row["Course Type"]): continue
    dic["Institute"] = row["college"].replace("\xa0", " ")
    dic["Course Type"] = row["Course Type"]
    dic["Course"] = row["course"]
    dic["Category"] = row["Caste"]
    dic["State"] = row["Category"]
    dic["Language"] = row["Language"]
    dic["Rural/Urban"] = row["Rural / Urban"]
    dic["Category_Key"] = row["Label"]

    v = row["Closing Rank"]
    if v == "" or pd.isna(v): continue # no rank available

    v = str(v)

    if "\n" in v:
        v = v.split("\n")[0]
    elif " " in v:
        v = v.split(" ")[0]
    elif "." in v:
        v = v.split(".")[0]

    dic["Closing Rank"] = v

    all_dic.append(dic)

In [71]:
final_kcet_data = pd.DataFrame(all_dic)

In [72]:
for col in final_kcet_data.columns:
    print(col)
    print(final_kcet_data[col].unique())

Institute
['M001  Bangalore Medical College, Bangalore'
 'M003  Kempegowda Institute of Medical Sciences, Bangalore'
 'M004  M.S.Ramaiah Medical College, Bangalore'
 'M005  Khaja Bande Navaz Institute Of Medical Sciences, Gulbarga'
 'M008  M.V.J.Medical College and Research Hospital, Channasandra, Bangalore'
 'M009  Vydehi Institute of Medical Science and Research Centre, Bangalore'
 'M010  A.J.Institute of Medical Sciences, Mangalore'
 'M020  Sri Basaveshwara Medical College and Hospital, Chitradurga'
 'M021  Mysore Medical College, Mysore'
 'M023  Adichunchanagiri Institute of Medical Sciences, Bellur, Mandya Dist.'
 'M024  Mandya Institute of Medical Sciences, Mandya'
 'M025  Hassan Institute of Medical Sciences, Hassan'
 'M031  Karnataka Institute of Medical Sciences, Hubli'
 'M035  S. Nijalingappa Medical College and Research Centre, Bagalkot'
 'M036  SDM College of Medical Sciences and Hospital, Dharwad'
 'M037  Belgaum Institute of Medical Sciences, Belgaum'
 'M042  Mahadevappa Rampure Medical College, Kalaburgi'
 'M043  Navodaya Medical College, Raichur'
 'M045  Raichur Institute of Medical Sciences, Raichur'
 'M050  Father Muller Institute of Med. Education & Research, Mangalore'
 'M051  Kasturba Medical College, Hampanakatta,Mangalore.'
 'M053  K.S.Hegde Medical Academy, Mangalore'
 'M054  K.Venkataramana Gowda Medical College and Hospital, Dakshina Kannada'
 'M061  Jaya Jagadguru Murugharajendra Medical College, Davangere District'
 'M062  Shymanuru Shivashankarappa Institute Of Medical Sciences, Davangere'
 'M063  Shimoga Institute of Medical Sciences, Shimoga'
 'M064  Sapthagiri Institute of Medical Sciences, Bangalore'
 'M065  Srinivasa Institute of Medical Research Center, Mangalore'
 'M066  ESI Medical College, Bangalore'
 'M067  Subbaiah Institute of Medical Science, Shimoga'
 'M068  BGS Global Institute of Medical Sciences, Kengeri, Bangalore'
 'M069  Shridevi Institute of Medical Sciences and Research Hospital, Tumkur'
 'M071  The Oxford Medical College Hospital and Research Center, Bangalore'
 'M072  Gulbarga Institute of Medical Sciences, GULBARGA'
 'M073  Koppal Institute of Medical Sciences, KOPPAL'
 'M074  Gadag Institute of Medical Sciences, GADAG'
 'M075  Chamarajanagar Institute of Medical Science, CHAMARAJANAGAR'
 'M076  Karwar Institute of Medical Science, UTTARA KANNADA'
 'M077  Kodagu Institute of Medical Sciences, MADIKERI'
 'M078  Akash Institute of Medical Sciences and Research Centre, BANGALORE'
 'M079  Kanachur Institute of Medical Sciences and Research Centre, MANGALORE'
 'M081  East Point College of Medical Sciences and Research Center, Bangalore'
 'M082  Shri Atal Bihari Vajpayee Institute of Medical Science, Bengaluru'
 'M083  Dr. Chandramma Dayananda Sagar Institute of Medical Education, Harohalli hobli, Ramanagara'
 'M084  Chikkaballapura Institute of Medical Science, Chikkaballapura'
 'M088  G R Medical College and Research Center, Mangalore'
 'M089  Jagadguru Gangadhar Mahaswamigalu Moorusavirmath Medical College, Dharwar'
 'D101  Government Dental College, Bangalore'
 'D102  Dr.M.R.Ambedkar Dental College and Hospital, Bangalore'
 'D103  Vokkaligara Sangha Dental College and Hospital, Bangalore'
 'D114  Raja Rajeshwari Dental College and Hospital, Bangalore'
 'D115  Rashtreeya Vidyalaya Dental College, Bangalore'
 'D116  Krishnadevaraya College of Dental Sciences,  Road, Bangalore'
 'D117  Dr. Shyamala Reddy Dental College, Bangalore'
 'D122  Vydehi Institute of Dental Sciences and Research Centre, Bangalore'
 'D224  Farooquia Dental College, Mysore'
 'D335  Maratha Mandal Dental College, Belgaum'
 'D336  PM Nadagowda Memorial Dental College and Hospital, Bagalkot'
 'D337  Sri Dharmasthala Manjunatheswara Dental College, Dharwad'
 'D446  Academy of Medical Education Dental College, Raichur'
 'D448  Government Dental College and Research Institute, Bellary'
 'D555  K.Venkataramana Gowda Dental College Hospital and Research Centre, Dakshina Kannada'
 'D556  A.J. Institute of Dental Sciences, Mangalore'
 'D557  Srinivasa Institute of Dental Science, Mangalore'
 'D661  Bapuji Dental College and Hospital, Davangere'
 'D662  College of Dental Sciences, Davangere'
 'D663  Sharavathi Dental College, Shimoga'
 'D665  Subbaiah Institute of Dental Sciences, Shimoga'
 'I701  Govt. Ayurveda Medical College, Bangalore'
 'I703  Sri Kalabyraweshwara Ayurvedic Medical College and Hospital, Bangalore'
 'I704  Ramakrishna Ayurveda Medical College, Bangalore'
 'I705  Sushrutha Ayurveda Medical College and Hospital, Anekal Taluk, bangalore'
 'I707  TAME Society`s Ayurvedic Medical College, Shimoga Dist.'
 'I713  Government Ayurveda Medical, Mysore'
 'I714  S.D.M College of Ayurveda and Hospital, Hassan'
 'I715  A.L.N Rao Memorial Ayurvedic Medical College, Chikmagalur Dist'
 'I718  Karnataka Ayurvedic Medical College, Mangalore'
 'I719  S.D.M.Ayurveda College, Udupi Dist'
 'I720  Alvas Ayurvedic Medical College, Dakshina Kannada'
 'I722  J G Co-Op. Society`s Ayurvedic Medical College, Dist - Belgaum'
 'I728  Ayurveda Mahavidyalaya Hospital, HUBLI, DHARWAD(D)'
 'I729  Mahaganapathi Ayurvedic Medical College, Dharwad'
 'I730  D.G.M.Ayurvedic Medical College, Dr S V Savadi Road,Gadag'
 'I733  Rajiv Gandhi Ayurvedic Medical College, Gadag Dist.'
 'I734  Sindhagi Shantaveereshwara Ayurvedic Medical College, Haveri'
 'I742  Mahaveera Pulakeshi Ayurvedic Medical College, Bagalkot Dt.'
 'I743  Sri Basaveshwara Vidyavrdhaka Sangha Ayurvedic Medical College, Bagalkot'
 'I744  Shikshana Prasaraka Samitis Dhanwanthri Ayurvedic Medical College, Uttara Kannada- Dist'
 'I747  Gavisiddeshwara Society`s Ayurveda College, Koppal Dist'
 'I754  Sri Sri College Of Ayurvedic Science and Research Center, Bangalore'
 'I755  Ashwini Ayurvedic Medical College, Tumkur'
 'I757  S.D.M.Trust Ayurvedic Medical College, Terdal'
 'I758  SMVVS Rajeshwari Karpurmath Memorial Ayurvedic Medical College, Behind KC Nagar, Bijapur'
 'I761  Sri Raghavendra Ayurvedic Medical College,  Chitradurga DT.'
 'I762  Athreya Ayurvedic Medical College,  Bangalore Rural'
 'I764  Sri Dharmasthala Manjunatheshwara Institute Of Ayurveda Hospital, BANGALORE'
 'I771  K.T.G. AYURVEDIC MEDICAL COLLEGE AND HOSPITAL, VISHWANEEDAM POST, BANGALORE'
 'I772  DR. B.N.M. RURAL AYURVEDA MEDICAL COLLEGE, COLLEGE ROAD, BIJAPUR'
 'I774  Sri Paripoorna Sanathana Ayurveda Medical College Hospital, Nelamangala(T),Bangalore'
 'I776  KRISHNA AYURVEDIC MEDICAL COLLEGE AND HOSPITAL, SANKESHWAR, BELGAUM DT'
 'I780  Government Ayurvedic Medical College, Shivamoga'
 'I781  Adichunchanagiri Ayurveda Medical College,Hospital and Research, Nelamangala, Bangalore'
 'I784  Sharada Ayurveda Medical College and Hospital, Mangalore'
 'I785  Kundapura Rural Ayurveda Medical College and Hospital , Koteshwara, Kundapura'
 'I792  Dr.Ravi Patil Ayurveda Medical College and Hospital, Belagavi'
 'I801  Govt. Homoeopathy Medical College, Bangalore'
 'I803  Father Mullers Homoeopathy Medical College, Mangalore'
 'I804  A.M.Sheik Homoeopathy Medical College, Belgaum'
 'I805  Bharatesh Homoeopathy Medical College, Belgaum'
 'I809  Dr.B.D.Jatti Homoeopathy Medical College, Dharward'
 'I817  Alvas`s Homeopathic Medical College, Dakshina Kannada'
 'I901  Govt. Unani Medical College, Bangalore'
 'I904  Luqman Unani Medical College, BIJAPUR'
 'Y911 S.D.M.College Of Naturopathy and Yogic Science, Dakshina Kannnada DIST'
 'Y912 Alvas Education Trust Nature Cure & Yogic College, MOODBIDRI, D K'
 'Y914 Government Nature Cure And Yoga College, MYSORE'
 'Y915 Swamy Vivekananda Yoga Anusandhana Samsthana, BANGALORE'
 'Y918 G. Madegowda Institute of Naturopathy and Yogic Science, Bharathinagara, Maddur, Mandya'
 'Y919 Sharada Yoga and Naturopathy Medical College, Mangalore'
 'B001  Government College of Pharmacy  Bangalore'
 'B002  Acharya and BM Reddy College of Pharmacy  Bangalore'
 'B003  Al-Ameen College of Pharmacy  Bangalore'
 'B004  Aditya Bangalore Institute of Pharmacy Educ and Research Center\n Bangalore'
 'B005  B.V.V.Sanghas Hangal Shri Kumareshwar College of Pharmacy\nBagalkot'
 'B006  Bapuji College of Pharmacy  Davangere'
 'B008  Bharathi College of Pharmacy   Mandya'
 'B009  BLDEAs College of Pharmacy  Vijapur'
 'B010  Oxbridge  College of Pharmacy   MAGADI RD, Bangalore'
 'B012  Dayananda Sagar Institute of Pharmacy    Bangalore'
 'B015  East West College of Pharmacy   Bangalore'
 'B016  East Point College of Pharmacy   Bangalore'
 'B017  Farooqia College of Pharmacy   Mysore'
 'B018  Gautham College of Pharmacy   Bangalore'
 'B019  Hill SideCollege of Pharmacy and Research Center   Bangalore'
 'B022  Karavali College of Pharmacy   Mangalore'
 'B023  Karnataka College of Pharmacy   Bangalore'
 'B024  Karnataka College of Pharmacy  BIDAR'
 'B027  Krupanidhi College of Pharmacy   Bangalore'
 'B030  M.S. Ramaiah Univerisity of Applied Sciences  NAGAR BANGALORE'
 'B035  National College of Pharmacy    Shimoga'
 'B037  PES College of Pharmacy   Bangalore'
 'B038  Priyadarshini College of Pharmacy   Tumkur'
 'B039  R.R.College of Pharmacy  STN, CHIKKABANAVARA, BANGALORE'
 'B042  Rani Chennama College of Pharmacy   Belgaum'
 'B046  Sridevi College of Pharmacy   Mangalore'
 'B047  SJM College of Pharmacy   Chitradurga'
 'B048  Soniya Education Trusts College of Pharmacy   Dharwad'
 'B050  Sri Adichunchanagiri College of Pharmacy   Mandya'
 'B051  Sri Raghavendra College of Pharmacy  KOTHONUR-POST, BANGALORE'
 'B052  Sri K.V. College of Pharmacy   Chikkaballapura'
 'B053  Srinivas College of Pharmacy   Mangalore'
 'B055  T. John College of Pharmacy   Bangalore'
 'B056  The Oxford College of Pharmacy   Bangalore'
 'B058  V.L. College of Pharmacy   Raichur'
 'B059  V.V. Puram Institute of Pharmaceutical Sciences   Bangalore'
 'B060  Vivekananda College of Pharmacy  BANGALORE'
 'B062  IKON Pharmacy College  Bheemanahalli, Bidadi'
 'B066  P A College of Pharmacy  Bantwal Taluk, Mangalore'
 'B067  Rajputana College of Pharmacy  Mariyannapalya, Bangalore'
 'B069  A.G.M. College of Pharmacy  Hubli'
 'B073  MVM College of Pharmacy  Yelahanka, Bangalore'
 'B076  Spurty College of Pharmacy  Anekal Taluk, Bengaluru Urban'
 'B077  Sridevi Institute of Pharmaceutical Sciences  Tumakuru'
 'B080  Aadya College of Pharmacy  Chitradurga'
 'B085  Cauvery College of pharmacy Alanahalli  Mysore'
 'B090  Harsha College of Pharmacy Nelamangala  Bengaluru Rural'
 'B096  Sri Ragahavendra College of Pharmacy  Chitradurga-90'
 'B100  Vaasudhara College of Pharmacy  Hoskote,Bangalore Rural'
 'B101  Varadaraja Institute of Pharmaceutical Education and Research\nTumakuru'
 'F001  Dairy Science College  Bangalore'
 'F002  Dairy Science College  Kalaburagi'
 'F003  College of Agriculture  Hassan'
 'F004  College of Fisheries  Mangalore'
 'F005  College of Agriculture  GKVK, Bangalore'
 'F006  College of Community Science   Dharwad'
 'F007  College of Agriculture  Dharwad'
 'N001  College of Agriculture  GKVK Campus , Bangalore'
 'N002  College of Agriculture  VC Farm, Mandya'
 'N003  College of Agriculture  Hassan'
 'N004  Sericulture College  Chikkaballapur T&D, Chintamani'
 'N005  College of Agriculture  Navile, Shimoga'
 'N006  College of Horticulture  Bagalkot'
 'N008  KRC College of Horticulture  Arabhavi,  Gokak-TQ,  Belgaum'
 'N010  College of Horticulture   Mysore'
 'N011  College of Horticulture  Sirsi, Utttara Kannada dist'
 'N013  College of Horticulture  Mudigere'
 'N014  College of Horticulture  Hiriyur'
 'N015  College of Forestry  Kodagu- Dist'
 'N016  College of Agriculture  Dharwad'
 'N017  College of Agriculture  VIJAYAPUR'
 'N018  College of Agriculture  Hanumanamatti, Haveri-Dist'
 'N019  College of Forestry  Dist- Uttarakannada'
 'N020  College of Community Science   Dharwad'
 'N022  College of Agriculture  Raichur'
 'N026  College of Horticulture  Bangalore'
 'N027  College of Horticulture Engineering and Food Technology\nDevihosur, Haveri'
 'N028  College of Agriculture  KVK, Chamarajanagar(D)'
 'N029  College of Agriculture  Iruvakki, Shimoga'
 'S001  College of Agriculture  GKVK Campus, Bangalore'
 'S025  College of Agricultural Engineering  Raichur'
 'V001  Veterinary College  Bangalore' 'V002  Veterinary College   Bidar'
 'V003  Veterinary College  Shimoga' 'V004  Veterinary College  Hassan'
 'ENGINEERING CUTOFF RANK OF CET-2021 - SECOND ROUND ALLOTMENT ( GENERAL )'
 'E002  S K S J T Institute of Engineering.  Bangalore'
 'E003  B M S College of Engineering  Basavanagudi,Bangalore'
 'E004  Dr. Ambedkar Institute Of Technology  Bangalore'
 'E005  R. V. College of Engineering  Bangalore'
 'E006  M S Ramaiah Institute of Technology  Bangalore'
 'E007  Dayananda Sagar College of Engineering   Bangalore'
 'E008  Bangalore Institute of Technology  Bangalore'
 'E009  P E S University (Ring Road Campus)  Bangalore'
 'E011  M V J College of Engineering  Bangalore'
 'E012  Sir M.Visveswaraya Institute of Technology  Hunasemaranahalli,Bangalore,'
 'E013  Ghousia Engineering College  Ramanagara'
 'E014  S J C Institute of Technology  Chickballapur'
 'E015  Dr.T.Thimmaiah Institute of Technology  BANGARAPET -TQ kolar District'
 'E016  Siddaganga Institute of Technology  Tumkur'
 'E017  Sri Siddartha Institute of Technology  Tumkur'
 'E018  Kalpatharu Institute of Technology  Tiptur'
 'E021  Sri Jayachamarajendra College of Engineering(Const. of JSS Univ.)  Mysore'
 'E022  The National Institute of Engineering  Mysore'
 'E023  P E S College of Engineering  Mandya'
 'E024  Malnad College of Engineering  Hassan'
 'E028  Tontadarya College of Engineering  Gadag'
 'E029  Maratha Mandal Engineering College  Belgaum'
 'E030  KLE Technological University(Formerly BVBCET)  Hubli'
 'E031  Basaveshwara Engineering College  Bagalkot'
 'E032  R.T.E Socity`s Rural Engineering College  Hulkoti'
 'E033  Sri Taralabalu Jagadguru Institute of Technology.  Ranebennur'
 'E034  Sri Dharmasthala Manjunatheswara College of Engineering  Dharwad'
 'E035  Anjuman Engineering College  Bhatkala, Uttar kannada Dist'
 'E036  KLE Technological University(Formerly KLE Dr.MS Sheshagiri Col.)  Belgaum'
 'E037  K.L.S. Gogte Institute of Technology  Belgaum'
 'E038  B L D E As V.P. Dr. P. G. Hallakatti College of Engg. and Tech.  vijayapur'
 'E040  Hira Sugar Institute of Technology  Belagavi District,'
 'E041  P D A College of Engineering  Gulbarga'
 'E042  Khaja Banda Nawaz University  Kalburgi'
 'E043  Gurunanak Dev Engineering College  Bidar'
 'E044  Bheemanna Khandre Institute of Technology  Bhalki'
 'E045  Rao Bahadur Y.Mahabaleswarappa Engineering College  Bellari'
 'E046  H K Es S L N College of Engineering  Raichur'
 'E047  Malnad College of Engineering  Hassan'
 'E048  B M S College of Engineering  Basavanagudi,Bangalore'
 'E049  Basaveshwara Engineering College  Bagalkot'
 'E053  N M A M Institutute of Technology  Nitte'
 'E054  K V G College of Engineering  Sullia,D.K District'
 'E055  P A College of Engineering  Bantwal, Mangalore'
 'E056  The National Institute of Engineering  Mysore'
 'E057  JSS Science and Technology University(Formerly SJCE)  Mysore'
 'E058  P E S College of Engineering  Mandya'
 'E059  P D A College of Engineering  Gulbarga'
 'E060  Dr. Ambedkar Institute Of Technology  Jnanabharathi Campus,Bangalore'
 'E061  University B.D.T. college of Engineering  Davangere'
 'E062  Bapuji Institute of Engineering and Technology  Davangere'
 'E063  S J M Institute of Technology  Chitradurga'
 'E064  Adhichunchanagiri Institute of Technology  Chickmagalur'
 'E065  Jawaharlal Nehru National College of Engineering  Shimoga'
 'E070  Bahubali College of Engineering  Hassan Dist,'
 'E071  Vidya Vardhaka College of Engineering  Mysuru'
 'E075  Ballari Institute of Technology and Management  Near Allipur Bellary'
 'E077  Vidya Vikas Institute of Engineering and Technology  Mysuru'
 'E078  The Oxford College of Engineering  Bangalore'
 'E079  Acharya Institute of Technology  Bangalore'
 'E081  H M S Institute of Technology  Tumkur'
 'E082  J S S Academy of Technical Education  Bangalore'
 'E083  H.K.B.K.College of Engineering  Bangalore'
 'E085  APS College of Engineering  Somanahalli, Bangalore'
 'E086  Sri Sairam College of Engineering(Formerly Shirdi Sai Engg)  Anekal,Bangalore'
 'E087  Vivekananada Institute of Technology  Bangalore'
 'E088  Bangalore College of Engineering and Technology  Chandapura, Bangalore'
 'E090  Sri Revana Siddeswara Institute of Technology  Bangalore North'
 'E091  K S Institute of Technology  Bangalore'
 'E092  Vemana Institute of Technology  Bangalore'
 'E093  Basavakalyana Engineering College  Basavakalyana, Bidar-Dist'
 'E094  Coorg Institute of Technology  Kodagu'
 'E095  AMC Engineering College  Bangalore'
 'E096  East Point College of Engineering and Technology  Bangalore'
 'E097  C M R Institute of Technology  Bangalore'
 'E098  Atria Institute of Technology  Bangalore'
 'E099  New Horizon College of Engineering  Bangalore'
 'E100  K N S Institute of Technology  Bangalore'
 'E101  Channabasaveshwara Institute of Technology  Gubbi, Tumkur'
 'E102  DONBOSCO Institute of Technology  Bangalore'
 'E103  Global Academy of Technology  Bangalore'
 'E104  Nagarjuna College of Engineering and Technology  Bangalore (R)'
 'E105  Nitte Meenakshi Institutute of Technology  Bangalore'
 'E106  East West Institute of Technology  Bangalore'
 'E107  B N M Institute of Technology  Bangalore'
 'E108  Sapthagiri College of Engineering  Bangalore'
 'E109  City Engineering College  Bangalore'
 'E111  Sri Venkateshwara College of Engineering  Bettahalsur(P), Bangalore'
 'E112  Sri Krishna Institute of Technology  Bangalore'
 'E113  Sambhram Institute of Technology  Bangalore'
 'E114  G M Institute of Technology  Davanagere'
 'E115  S J B Institute of Technology  Kengeri,Bangalore'
 'E116  R.L.Jalappa Institute of Technology  Bangalore Rural Dist'
 'E118  RNS Institute of Technology  Bangalore'
 'E120  Jnanavikasa Institute of Technology  Ramanagar-Dist'
 'E121  Vivekananada College of Engineering Technology  D K DIST'
 'E123  Canara Engineering College Bantwal  DK DIST'
 'E124  Rajiv Gandhi Institute of Technology  R.T Nagar Post, Bangalore'
 'E126  B M S Institute of Technology and Management  Yelahanka, Bangalore'
 'E127  M S Engineering College  Bangalore Urban'
 'E128  Sharnbasva University(Formerly Appa Inst. of Tech.)  Brahmpur, Kalaburagi'
 'E129  St. Joseph Engineering College  Mangalore'
 'E132  Secab Institute of Engineering and Technology  Bijapur'
 'E133  G S S S Institute of Engineering and Technology for Women  Mysore'
 'E134  Smt. Kamala and Sri Venkappa M.Agadi College of Engg. and Tech.  Laxmeshwara-Tq, Gadag Dt.'
 'E135  K L S Viswanathrao Deshpande Institute of Technology  Haliyal, Uttara Kannada -Dist'
 'E136  Moodalakatte Institute of Technology  Udupi District'
 'E139  Impact College of Engineering and Applied Sciences  Bangalore'
 'E141  P E S University (Electronic City Campus)  Bangalore'
 'E142  Adichunchanagiri University(Formerly BGSIT)  Nagamangala Taluk,Mandya Dist.'
 'E144  Srinivas Institute of Technology  Mangalore.'
 'E145  Rajarajeswari College of Engineering  Kumbalagodu,Bangalore'
 'E146  Shreedevi Institute of Technology  Kenjar, Mangalore'
 'E147  T.John Engineering College  Bangalore'
 'E149  Cambridge Institutute of Technology  Bangalore'
 'E150  P E S Institute of Technology and Management   Shivamogga'
 'E151  Mangalore Institute of Technology and Engineering  Mangalore Tq,D.K'
 'E152  S D M Institute of Tech.  Ujire,Dakshina Kannada'
 'E153  S E A College of Engineering and Technology  K R puram bangalore'
 'E154  Government Engineering College  Chamarajanagara'
 'E155  Government Engineering College  Hassan'
 'E156  Government Engineering College  K R Pet, Mandya DT.'
 'E157  Government Engineering College  Ramanagara'
 'E158  Maharaja Institute of Technology-Mysore  Belawadi, Mandya Dist'
 'E159  Karavali Institute of Technology  Mangalore'
 'E160  Sahyadri College of Engg. and Management  Mangalore'
 'E161  Government Engineering College  Kushalnagar,Kodagu Dist'

In [73]:
final_kcet_data.columns

Index(['Institute', 'Course Type', 'Course', 'Category', 'State', 'Language',
       'Rural/Urban', 'Category_Key', 'Closing Rank'],
      dtype='object')

In [74]:
final_kcet_data.to_json("public/data/KCET/kcet_data.json", orient="records")

In [34]:
final_kcet_data[final_kcet_data["Language"] == "Kannada"]["State"].unique()

array(['Karnataka'], dtype=object)

In [54]:
jac_data = pd.read_csv("JAC 2023 Cutoffs - Cutoffs.csv")

jac_data.head()

,Institute,Course,EWCWD,EWCWO,EWGLD,EWGLO,EWGND,EWGNO,EWPDD,EWPDO,...,SCPDO,SG,STCWD,STCWO,STGLD,STGLO,STGND,STGNO,STPDD,STPDO
0,Delhi Technological University (DTU),Computer Science and Engineering (CSE),NaN,NaN,NaN,NaN,24129,7658.0,NaN,NaN,...,NaN,14322.0,NaN,NaN,NaN,NaN,296967.0,96383.0,NaN,NaN
1,Delhi Technological University (DTU),Information Technology (IT),NaN,NaN,NaN,NaN,29278,8189.0,NaN,NaN,...,NaN,22172.0,NaN,NaN,NaN,NaN,412802.0,121909.0,NaN,NaN
2,Delhi Technological University (DTU),Software Engineering (SE),NaN,NaN,NaN,NaN,33772,9246.0,NaN,NaN,...,NaN,23161.0,NaN,NaN,NaN,NaN,500239.0,116361.0,NaN,NaN
3,Delhi Technological University (DTU),Mathematics and Computing (MCE),NaN,NaN,NaN,NaN,37809,9555.0,NaN,NaN,...,NaN,25761.0,NaN,NaN,NaN,NaN,626554.0,143319.0,NaN,NaN
4,Delhi Technological University (DTU),Electronics and Communication Engineering (ECE),NaN,NaN,NaN,NaN,46787,13415.0,NaN,NaN,...,NaN,33648.0,NaN,NaN,NaN,NaN,917669.0,168274.0,NaN,NaN

In [ ]:
jac_cat = pd.read_csv("JAC 2023 Cutoffs - Category_Trans.csv")

jac_cat.head()

  Category    Caste         Region  Gender Defense Ward Physically Disabled
0    GNCWD  General          Delhi     Any          Yes                  No
1    GNPDD  General          Delhi     Any           No                 Yes
2    GNGLD  General          Delhi  Female           No                  No
3    GNGND  General          Delhi     Any           No                  No
4    GNCWO  General  Outside Delhi     Any          Yes                  No

In [62]:
all_dic = []
for it, row in jac_data.iterrows():
    for k, v in row.items():
        
        if k in ["Institute", "Course"]:
            continue
        else:
            if v == "" or pd.isna(v): continue # no rank available
            
            dic = {}
            dic["Institute"] = row["Institute"]
            dic["Course"] = row["Course"]
            cat_row = dict(jac_cat[jac_cat["Category"] == k].iloc[0])
            
            dic["Category"] = cat_row["Caste"]
            if cat_row["Gender"] == "Any":
                dic["Gender"] = "Gender-Neutral"
            elif cat_row["Gender"] == "Female":
                dic["Gender"] = "Female-Only"
            dic["Defense"] = cat_row["Defense Ward"]
            dic["PWD"]= cat_row["Physically Disabled"]
            dic["State"] = cat_row["Region"]
            dic["Category_Key"] = k

            v = str(v)

            if "\n" in v:
                v = v.split("\n")[0]
            elif " " in v:
                v = v.split(" ")[0]
            elif "." in v:
                v = v.split(".")[0]

            dic["Closing Rank"] = v

            all_dic.append(dic)

In [63]:
jac_final = pd.DataFrame(all_dic)

In [64]:
jac_final.head()

,Institute,Course,Category,Gender,Defense,PWD,State,Category_Key,Closing Rank
0,Delhi Technological University (DTU),Computer Science and Engineering (CSE),EWS,Gender-Neutral,No,No,Delhi,EWGND,24129
1,Delhi Technological University (DTU),Computer Science and Engineering (CSE),EWS,Gender-Neutral,No,No,Outside Delhi,EWGNO,7658
2,Delhi Technological University (DTU),Computer Science and Engineering (CSE),General,Gender-Neutral,No,No,Delhi,GNGND,12948
3,Delhi Technological University (DTU),Computer Science and Engineering (CSE),General,Gender-Neutral,No,No,Outside Delhi,GNGNO,4876
4,Delhi Technological University (DTU),Computer Science and Engineering (CSE),OBC,Gender-Neutral,No,No,Delhi,OBGND,49995

In [10]:
for col in jac_final.columns:
    print(jac_final[col].unique())

['Delhi Technological University (DTU)'
 'Netaji Subhas University of Technology (NSUT)'
 'Indraprastha Institute of Information Technology Delhi (IIIT Delhi)'
 'Indira Gandhi Delhi Technical University for Women (IGDTUW)']
['Computer Science and Engineering (CSE)' 'Information Technology (IT)'
 'Software Engineering (SE)' 'Mathematics and Computing (MCE)'
 'Electronics and Communication Engineering (ECE)'
 'Electrical Engineering (EE)' 'Mechanical Engineering (ME)'
 'Automotive Engineering (MAM)' 'Engineering Physics (EP)'
 'Chemical Engineering (CHE)' 'Civil Engineering (CE)'
 'Production & Industrial Engineering (PIE)'
 'Environmental Engineering (ENE)' 'Bio-Technology (BT)'
 'Computer Science and Engineering (Artificial Intelligence) (CSAI)'
 'Computer Science and Engineering (Data Science) (CSDS)'
 'Information Technology (Network and Information Security) (ITNS)'
 'Mathematics and Computing (MAC)'
 'Electronics and Communication Engineering (Internet of Things) (EIOT)'
 'Instrumentation and Control Engineering (ICE)'
 'Computer Science and Engineering (Big Data Analytics) (CSDA)'
 'Computer Science and Engineering (Internet of Things) (CIOT)'
 'Electronics and Communication Engineering (AI/ML) (ECAM)'
 'Mechanical Engineering (Electric Vehicles) (MEEV)' 'Geoinformatics (GI)'
 'Computer Science and Applied Mathematics (CSAM)'
 'Computer Science and Artificial Intelligence (CSAI)'
 'Computer Science and Biosciences (CSB)'
 'Computer Science and Design (CSD)'
 'Computer Science and Social Sciences (CSSS)'
 'Electronics and Communications Engineering (ECE)'
 'Electronics and VLSI Engineering (EVE)'
 'Computer Science and Engineering (Artificial Intelligence) (CSE-AI)'
 'Electronics and Communications Engineering (Artificial Intelligence) (ECE-AI)'
 'Artificial Intelligence and Machine Learning (AI-ML)'
 'Mechanical and Automation Engineering (MAE)'
 'Mechanical and Automation Engineering with integrated MBA (DMAM)'
 'Architecture and Planning (B.Arch. Paper 2)']
['EWGND' 'EWGNO' 'GNGND' 'GNGNO' 'OBGND' 'OBGNO' 'SCGND' 'SCGNO' 'SG'
 'STGND' 'STGNO' 'EWGLD' 'EWGLO' 'EWPDD' 'GNCWD' 'GNCWO' 'GNGLD' 'GNGLO'
 'GNPDD' 'OBCWD' 'OBGLD' 'OBGLO' 'SCCWD' 'SCGLD' 'STCWD' 'STGLD' 'EWCWD'
 'EWCWO' 'GNPDO' 'OBPDD' 'OBPDO' 'SCGLO' 'SCPDO' 'OBCWO' 'STGLO' 'EWPDO'
 'SCCWO' 'KM']
['Any' 'Female']
['No' 'Yes']
['No' 'Yes']
['Delhi' 'Outside Delhi' 'Any']
['24129' '7658' '12948' '4876' '49995' '13126' '84936' '37183' '14322'
 '296967' '96383' '29278' '8189' '16364' '6424' '61182' '15795' '106576'
 '45086' '22172' '412802' '121909' '33772' '9246' '19231' '7157' '72135'
 '16970' '127318' '59146' '23161' '500239' '116361' '37809' '9555' '22071'
 '7980' '85687' '19103' '149866' '71977' '25761' '626554' '143319' '46787'
 '13415' '27432' '8677' '109654' '21342' '164543' '82652' '33648' '917669'
 '168274' '55920' '16236' '37615' '11963' '129975' '23903' '254216'
 '112592' '67704' '1094649' '137194' '75179' '21326' '52903' '16372'
 '169633' '27595' '327548' '124048' '101841' '1075384' '147571' '79288'
 '17319' '56083' '15959' '173508' '27596' '383468' '124229' '100324'
 '384734' '199399' '75767' '24355' '54957' '15302' '175339' '29463'
 '432983' '135608' '67637' '252314' '94868' '23503' '63692' '18459'
 '199592' '31131' '444420' '124665' '81410' '183336' '99192' '24754'
 '72407' '21106' '210896' '31257' '444409' '126829' '116253' '682374'
 '126583' '102538' '24825' '69236' '21109' '219954' '32151' '471134'
 '131499' '131968' '245112' '111847' '25440' '81658' '23177' '233970'
 '33674' '495174' '135743' '117332' '247932' '115740' '25703' '80740'
 '23469' '241098' '36181' '479568' '132166' '91541' '240784' '33920'
 '10115' '16524' '7590' '272727' '675753' '17746' '13805' '6466' '6254'
 '3255' '561483' '98809' '43966' '23529' '26717' '9405' '719657' '100145'
 '59361' '44401' '246272' '446761' '327172' '71471' '26435' '331390'
 '28789' '22139' '7622' '317490' '164147' '17278' '7182' '10174' '3994'
 '80408' '78376' '63324' '21534' '43286' '14244' '66328' '151925' '238847'
 '144067' '64657' '89108' '49910' '361542' '350145' '427738' '350282'
 '111243' '34576' '16067' '24790' '7934' '713274' '18900' '13019' '4882'
 '94432' '67564' '52064' '14680' '184647' '67992' '97533' '60008' '383867'
 '373321' '111956' '92191' '38682' '30757' '9010' '764836' '21473' '8965'
 '16910' '6279' '267993' '125046' '315910' '89325' '26269' '60644' '15740'
 '197132' '91831' '115192' '63622' '672636' '546369' '465810' '112962'
 '45428' '31684' '10273' '27507' '22410' '9824' '19799' '7385' '94544'
 '70069' '16617' '531032' '202870' '127698' '67727' '631769' '671541'
 '139165' '600104' '133863' '54920' '38615' '10906' '35086' '24528' '8320'
 '22419' '8047' '103386' '31143' '81228' '19208' '855792' '158540'
 '153193' '72100' '698348' '167747' '98132' '44337' '11905' '42880'
 '26930' '11172' '24463' '9269' '214703' '126791' '38519' '90743' '20760'
 '203369' '178251' '82300' '910934' '998848' '195395' '143927' '82614'
 '16633' '48456' '13356' '499237' '48157' '42783' '11897' '29503' '9867'
 '281828' '234059' '171606' '34807' '109170' '21722' '443916' '918058'
 '233988' '105183' '194655' '91022' '735558' '194607' '846931' '163833'
 '277282' '135905' '61107' '16770' '82713' '128145' '73752' '20271'
 '40849' '12152' '283142' '25320' '263306' '56456' '138069' '24843'
 '462901' '293222' '119481' '197874' '382340' '175969' '192476' '141565'
 '68196' '19211' '107529' '801302' '77817' '27068' '49807' '14685'
 '442960' '390396' '340751' '57628' '154198' '27104' '616216' '185252'
 '388195' '121156' '240430' '414360' '151506' '29657' '87444' '23059'
 '121900' '95101' '27980' '59268' '17031' '420586' '658432' '364249'
 '58333' '191382' '29277' '169883' '618225' '169406' '429281' '128218'
 '1043524' '229172' '148571' '118403' '23722' '148114' '93836' '29210'
 '83392' '22214' '396985' '348057' '61629' '253835' '38172' '182709'
 '584645' '507213' '128271' '598385' '243375' '109380' '56096' '14176'
 '231842' '58035' '32224' '8194' '328515' '275181' '146362' '48735'
 '106373' '20029' '209911' '162316' '176682' '71550' '680098' '156609'
 '156577' '114354' '61826' '14679' '47935' '63912' '20113' '35521' '9676'
 '229701' '52749' '125023' '20769' '312275' '209058' '73718' '690130'
 '192437' '321245' '26031' '127492' '29960' '83232' '15880' '108654'
 '101288' '82095' '18988' '46984' '10196' '510092' '312259' '53454'
 '157715' '23072' '492307' '470420' '329451' '105129' '280716' '208469'
 '165570' '121112' '26567' '122422' '105272' '28774' '80654' '19538'
 '361553' '479819' '57753' '255148' '29982' '736571' '471426' '130272'
 '187056' '183548' '45875' '141101' '26636' '186105' '107535' '29809'
 '92386' '22846' '42038' '486192' '277971' '36235' '643195' '505617'
 '133658' '189270' '155140' '174145' '109322' '31791' '99027' '24287'
 '480661' '465557' '290569' '40163' '797746' '554906' '128404' '248095'
 '44494' '10769' '26091' '14725' '5489' '432164' '160053' '99948' '85806'
 '17651' '185173' '71978' '816417' '127816' '31341' '9322' '108352' '8416'
 '290285' '22873' '112500' '58436' '13476' '190467' '129171' '45724'
 '393637' '47408' '43452' '12761' '27166' '23771' '8304' '47953' '202063'
 '103198' '21244' '260834' '78149' '141488' '40815' '12269' '26166'
 '17905' '7454' '376275' '449023' '141340' '80019' '17754' '236733'
 '73949' '92984' '33130' '8762' '214006' '11874' '308749' '46834' '131431'
 '66956' '15815' '144752' '62163' '751423' '105238' '45174' '12742'
 '30470' '22859' '7896' '60904' '200299' '99372' '18124' '273414' '86759'
 '50907' '14388' '50973' '26762' '8670' '167474' '318650' '114748' '20535'
 '275807' '89941' '158809' '59672' '15296' '80476' '30593' '10141' '67854'
 '371282' '138024' '21706' '362037' '94200' '186385' '249696' '82606'
 '29342' '151806' '133904' '51288' '23413' '666584' '298706' '342103'
 '335652' '44717' '210049' '44599' '352680' '148161' '53731' '770091'
 '280461' '99760' '26424' '126074' '417421' '58531' '20788' '812465'
 '316605' '408949' '90279' '211764' '39894' '340347' '134356' '63994'
 '1028524' '257477' '132115' '34657' '202978' '190386' '85981' '26887'
 '529334' '302639' '56421' '613210' '171375' '88974' '300025' '139197'
 '34892' '217626' '90900' '25851' '617661' '283539' '50944' '561820'
 '163252' '99892' '294260' '107203' '29372' '162344' '66326' '24319'
 '472199' '235292' '49070' '401107' '133990' '78943' '201331' '116503'
 '32570' '119907' '71162' '25528' '561288' '244940' '48026' '507092'
 '164656' '83056' '206256' '187976' '38896' '272555' '103589' '30636'
 '94574' '382096' '61469' '776862' '182852' '113863' '291861' '194408'
 '288586' '106534' '31246' '443875' '62133' '776192' '186896' '117220'
 '6030' '5925' '40323' '4475' '1514' '35117' '5941' '49870' '6224' '32816'
 '5296']

In [65]:
jac_final.to_json("public/data/JEE/jac_data.json", orient="records")

In [38]:
# tnea time


tnea = pd.read_csv("College Databases - Cutoffs - TNEA 2024.csv")

In [39]:
tnea.head()

,College ID,College,District,College Type,Branch,General/OC,BC,BCM,MBC,OBC,SC,SCA,ST,PwD
0,C-25072,College Of Engineering Guindy Campus,Chennai,State Government,Computer Science,200,200.0,199.5,199.5,NaN,198.5,185.5,NaN,NaN
1,C-25072,College Of Engineering Guindy Campus,Chennai,State Government,Electronics and Communications (ECE),200,199.5,198,198.5,NaN,195,186,180.5,NaN
2,C-25072,College Of Engineering Guindy Campus,Chennai,State Government,Mechanical,195.5,193.5,191,191.5,NaN,182.5,168,NaN,NaN
3,C-25072,College Of Engineering Guindy Campus,Chennai,State Government,Electrical and Electronics (EEE),198,197.5,195,195.5,NaN,189,176.5,171,NaN
4,C-25072,College Of Engineering Guindy Campus,Chennai,State Government,Civil,193,190.0,192,187.0,NaN,183,173.5,177.5,NaN

In [40]:
all_dic = []
for it, row in tnea.iterrows():
    for k, v in row.items():
        if k in ["College ID", "College", "Branch", "District", "College Type"]: continue
        else:
            if v == "" or pd.isna(v): continue # no rank available

        dic = {}
        dic["Institute ID"] = row["College ID"]
        dic["Institute"] = row["College"]
        dic["Course"] = row["Branch"].strip()
        dic["District"] = row["District"]
        dic["College Type"] = row["College Type"]
            
        dic["Category"] = k

        v = str(v)

        if "\n" in v:
            v = v.split("\n")[0]
        elif " " in v:
            v = v.split(" ")[0]
        elif "." in v:
            v = v.split(".")[0]

        dic["Cutoff Marks"] = v

        all_dic.append(dic)

In [41]:
tnea_final = pd.DataFrame(all_dic)

In [42]:
tnea_final.to_json("public/data/TNEA/tnea_data.json", orient="records")

In [43]:
list(tnea_final["Category"].unique())

['General/OC', 'BC', 'BCM', 'MBC', 'SC', 'SCA', 'ST', 'PwD', 'OBC']

In [36]:
json.dumps(list(tnea_final["Course"].unique()))

'["Computer Science", "Electronics and Communications (ECE)", "Mechanical", "Electrical and Electronics (EEE)", "Civil", "Information Technology", "Biomedical", "Aerospace", "Automobile", "Robotics", "Electrical Engineering"]'

In [37]:
import json


json.dumps(list(tnea_final["College Type"].unique()))

'["State Government", "Private Aided (Government Aided)", "Private Un-Aided", "University"]'

In [28]:
json.dumps(sorted(list(tnea_final["District"].unique())))

'["Ariyalur", "Chengalpattu", "Chennai", "Coimbatore", "Cuddalore", "Dharmapuri", "Dindigul", "Erode", "Hazaribagh", "Idukki", "Kancheepuram", "Kanniyakumari", "Karur", "Krishnagiri", "Madurai", "Mayiladuthurai", "Namakkal", "Perambalur", "Pudukkottai", "Ramanathapuram", "Salem", "Sivaganga", "Thanjavur", "Theni", "Thiruvallur", "Thiruvarur", "Thoothukkudi", "Tiruchirappalli", "Tirunelveli", "Tiruppur", "Tiruvannamalai", "Vellore", "Viluppuram", "Virudhunagar"]'